* {margin: 0;padding: 0;}

body{font-family: 'Montserrat', sans-serif;}

#page {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: #f5b2d6;
    margin: 50px auto;
    padding: 30px;
    color: #000;
}

.foto {
    width: 15%;
    min-width: 100px;
    float: left;
    margin-right: 20px;
}

.info-kontak {
    width: 70.9%;
    display: inline-block;
}

.nama {
    margin-bottom: -5px;
}
.pekerjaan {
    display: inline-block;
}

.kontak {
    background: #ed68b8;
    color: #000;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}

#tentang-saya h3 {
    border: 1px solid #000;
    background-color: #ed68b8;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#tentang-saya p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
}

#pendidikan h3 {
    border: 1px solid #000;
    background-color: #ed68b8;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#pendidikan table td {
    border: 1px solid #000;
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#pengalaman-kerja h3 {
    border: 1px solid #000;
    background-color: #ed68b8;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#pengalaman-kerja table td {
    border: 1px solid #000;
    padding: 25px;
    font-size: 14px;
    color: #000;
}

#data-diri h3 {
    border: 1px solid #000;
    background-color: #ed68b8;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#data-diri table td {
    border: 1px solid #000;
    padding: 8px;
    font-size: 15px;
    color: #000;
}

#data-diri table tr td:first-child {
    width: 200px;
}

#data-diri table tr td:nth-child(2) {
    width: 300px;
}

#pengalaman-organisasi-dan-kegiatan-sosial h3 {
    border: 1px solid #000;
    background-color: #ed68b8;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#link-eksternal img {
    max-width: 30%;
    max-height: auto;
}